@{
    ViewData["Title"] = "Mohan Selvamoorthy";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Phone:</strong> +1 (352) 215-6416 | <strong>Email:</strong> <a href="mailto:mohan.selvamoorthy@gmail.com">mohan.selvamoorthy@gmail.com</a><br />
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/smrk2004">https://github.com/smrk2004</a> | <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/MohanSelvamoorthy">https://www.linkedin.com/in/MohanSelvamoorthy</a><br />
    <br />
</address>
